.row-layout {
    display: flex;
}
.master-view-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.image {
    object-fit: cover;
    min-width: 0;
    min-height: 0;
    flex-shrink: 0;
}
